<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="/">
            <img src="images/onload.png" alt="OnLoad's logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link " href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#speakers">Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#sponsors">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#faq">FAQs</a>
                </li>
                <li>
                    <a class="nav-link" target="_blank" href="//blog.hackonload.com">
                        Blog <i class="fas fa-external-link-square-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider">
        <div class="cover_item" style="background: url('/images/hero.png');">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                A 30hrs intense, fun-filled, rewarding convergence of programmers, designers and
                                developers to build something amazing.
                            </h2>
                            <p class="cover-date">
                            </p>
                            <a href="#" class=" btn btn-primary btn-rounded">
                                Applications Opens soon
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cover section slider end -->

<!--about the event -->
<section id="about" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                About OnLoad
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eli. Integer iaculis in lacus a sollicitudin. Ut
                    hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat.
                    Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                </p>
            </div>
        </div>
        <!--event features-->
        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-mic"></i>
                    <div class="content">
                        <h4>Talks + Workshops</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-rocket"></i>
                    <div class="content">
                        <h4>36 hrs Hackathon</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-bullhorn"></i>
                    <div class="content">
                        <h4>Free</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-clock"></i>
                    <div class="content">
                        <h4>Early Bird</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--event features end-->
    </div>
</section>
<!--about the event end -->

<section id="why-attend" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Why should I attend??</h3>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">Hackathons help you learn new skills. If you’re newer to programming,
                        you’ll learn how to create a project from scratch, buff out the problems, and present to a panel
                        of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">Hackathons help you learn new skills. If you’re newer to programming,
                        you’ll learn how to create a project from scratch, buff out the problems, and present to a panel
                        of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">Hackathons help you learn new skills. If you’re newer to programming,
                        you’ll learn how to create a project from scratch, buff out the problems, and present to a panel
                        of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">Hackathons help you learn new skills. If you’re newer to programming,
                        you’ll learn how to create a project from scratch, buff out the problems, and present to a panel
                        of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">Hackathons help you learn new skills. If you’re newer to programming,
                        you’ll learn how to create a project from scratch, buff out the problems, and present to a panel
                        of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">Hackathons help you learn new skills. If you’re newer to programming,
                        you’ll learn how to create a project from scratch, buff out the problems, and present to a panel
                        of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!--speaker section-->
<!--<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                our speakers
            </h3>
        </div>
    </div>
    <div class="row justify-content-center no-gutters">
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Patricia Stone</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s2.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">James Oliver</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s3.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Carla Banks</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s4.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">William Smith</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s5.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Jessica Black</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s6.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Patricia Stone</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s7.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Duncan Stan</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s8.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Patricia Stone</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--speaker section end -->

<section id="schedule" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Schedule</h3>
        </div>
    </div>
</section>

<section id="sponsors" class="section sponsors">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Past Sponsors</h3>
        </div>
        <div class="row">

        </div>
    </div>
</section>

<section id="faq" class="section faqs">
    <div class="container">
        <div class="section_title">
            <h3 class="title">FAQs</h3>
        </div>
        <div class="row">

        </div>
    </div>
</section>


<!--venue tickets section -->
<section class="section" style="background-image: url('assets/img/bg/tickets.png');">
    <div class="container">
        <div class="map-marker">
            <i class="fas fa-map-marker-alt"></i>
            <br/><br/>
            <p>VVCE, Mysuru</p>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-primary  btn-lg btn-rounded mt30">Applications Opens Soon</a>
            </div>
        </div>
    </div>
</section>
<!--venue section end-->
