<!--suppress CssUnknownTarget, HtmlUnknownTarget -->
<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider">
        <div class="cover_item">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                A 36hrs intense, fun-filled, rewarding convergence of programmers, designers and
                                developers to build something amazing.
                            </h2>
                            <div class="cover-event-data">
                                <p class="cover-date">
                                    <i class="fas fa-calendar-day"></i> 28th Feb - 1st March, 2020
                                </p>
                                <p class="cover-venue">
                                    <a href="https://goo.gl/maps/M2och8ac3qT2" rel="noopener" target="_blank"
                                       title="See on Map"
                                       aria-label="Event Location">
                                        <i class="fas fa-map-marker-alt"></i> VVCE, Mysuru
                                    </a>
                                </p>
                            </div>
                            <button id="devfolio-apply-now-top" class="devfolio-apply-now mx-auto">
                                <svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                     viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px">
                                    <path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z"/>
                                    <path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/>
                                </svg>
                                Apply with Devfolio
                            </button>
                        </div>
                        <!--<div class="row event-details">
                            <div class="col-12 col-md-6">
                                <a href="https://goo.gl/maps/M2och8ac3qT2" rel=noopener target=_blank title="See on Map"
                                   aria-label="Event Location">
                                    <i class="fas fa-map-marker-alt"></i> VVCE, Mysuru
                                </a>
                            </div>
                            <div class="col-12 col-md-6">
                                <p><i class="fas fa-calendar-day"></i> 28th Feb - 1st March, 2020</p>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cover section slider end -->

<!--about the event -->
<section id="about" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                About OnLoad
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p>
                    OnLoad is a weekend-long spectacle aimed at bringing together young talented programmers, designers,
                    and developers from across the country to collaborate to build innovative projects from scratch.
                </p>
            </div>
        </div>
        <!--event features-->
        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3 wow bounceInUp">
                <div class="icon_box_one">
                    <i class="lnr lnr-mic"></i>
                    <div class="content">
                        <h4>36 hours </h4>
                        <p>
                            36 hours time span covering exhilarating sessions of coding, talks, workshops make OnLoad a
                            must attend event.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-rocket"></i>
                    <div class="content">
                        <h4>Talks</h4>
                        <p>
                            It will be an unprecedented congregation of renowned speakers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-bullhorn"></i>
                    <div class="content">
                        <h4>Workshops</h4>
                        <p>
                            Discover how the latest technologies are implemented.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-clock"></i>
                    <div class="content">
                        <h4>Networking</h4>
                        <p>
                            An excellent opportunity for you to build professional contacts and make new friends.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--event features end-->
    </div>
</section>
<!--about the event end -->

<section id="why-attend" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Why should I attend??</h3>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/learn.png" alt="To Learn" class="why-img-illus"/></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">
                        OnLoad is the platform that offers an excellent opportunity for you to interact and build
                        connections
                        with professionals and helps you meet like-minded individuals. With over 150 developers and
                        designers gathering from all over the country, grab your chance of connecting with people to
                        discuss ideas and opportunities.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/build.png" alt="To build" class="why-img-illus"/></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Build</h3>
                    </div>
                    <div class="why-content">
                        Programming abecedarians get to create projects from scratch, buff out the problems and present
                        to a panel of judges. Individuals who are pros at coding have an opportunity to hone their team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/network.png" alt="To Network" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">To Network</h3>
                    </div>
                    <div class="why-content">
                        Hackathons provide an excellent opportunity for you to build professional contacts and make new
                        friends. With over 300 developers and designers gathering from all over the country, grab your
                        chance of connecting with people to discuss ideas and opportunities.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/thrill.png" alt="The Thrill" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">
                            The Thrill
                        </h3>
                    </div>
                    <div class="why-content">
                        If you haven’t hacked a Hackathon you can’t know the feeling you have. The agitation before.
                        Will you be able to finish something? And the excitement afterward, when you are finished and
                        you have created something. A Hackathon is a challenge that comes with a lot of work, but also a
                        lot of fun and it can be an experience of a lifetime.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/flaunt.png" alt="Flaunt Skills" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">To Flaunt Your Skills</h3>
                    </div>
                    <div class="why-content">
                        Participating in hackathons will help you stand out from the competition and, show that you
                        truly are passionate about coding. Hackathon projects can also be great additions to your
                        portfolio. They can lead to great product creations, which make them a unique opportunity to get
                        in front of industry leaders to showcase your technical skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/prize.png" alt="Win Prizes" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">To win Prizes and cool Schwags</h3>
                    </div>
                    <div class="why-content">
                        Not only will you have the chance to win some cool stuff, but you will also get a cool goodie
                        bag and loads of schwags. And food and drinks will also be for free. Overall it is an event full
                        of rewards.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--speaker section-->
<!--<section id="speakers" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Speakers & Judges</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6">
                <div class="speaker-box">
                    <div class="speaker-img">
                        <img class="img-fluid speaker-img" src="/images/speakers/speaker.jpg" alt="speaker-name"/>
                    </div>
                    <div class="speaker-info">
                        <h3 class="speaker-name">Speaker Name</h3>
                        <p class="speaker-designation">CEO</p>
                        <p class="speaker-company">Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--speaker section end -->

<!--<section id="schedule" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Schedule</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 list-group" id="schedule-tabs" role="tablist">

                <a class="schedule-item list-group-item list-group-item-action active" data-toggle="list" role="tab"
                   id="day-1-tab" href="#schedule-day-1">28th Feb,
                    2020</a>

                <a class="schedule-item list-group-item list-group-item-action" data-toggle="list" role="tab"
                   id="day-2-tab" href="#schedule-day-2">29th Feb,
                    2020</a>

                <a class="schedule-item list-group-item list-group-item-action" data-toggle="list" role="tab"
                   id="day-3-tab" href="#schedule-day-3">01st Mar,
                    2020</a>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="tab-content p20">

                    <div class="tab-pane fade show active" id="schedule-day-1" role="tabpanel"
                         aria-labelledby="day-1-tab">
                        <ul class="list-group list-group-flush" id="day-1-details">
                            <li class="list-group-item">TBA</li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="schedule-day-2" role="tabpanel" aria-labelledby="day-2-tab">
                        <ul class="list-group list-group-flush" id="day-2-details">
                            <li class="list-group-item">TBA</li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="schedule-day-3" role="tabpanel" aria-labelledby="day-3-tab">
                        <ul class="list-group list-group-flush" id="day-3-details">
                            <li class="list-group-item">TBA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->

<section id="sponsors" class="section sponsors">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Sponsors</h3>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <h4>Interested in becoming a sponsor? </h4>
                <p class="sponsor-email">Email us at <a href="mailto:sponsor@hackonload.com">sponsor@hackonload.com</a>
                </p>
            </div>
        </div>
        <br/>
        <div class="row sponsor-row">
            <div class="col-sm-12 ">
                <div class="sponsor-wrapper">
                    <a href="https://devfolio.co/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block diamond"
                             src="/images/sponsors/2020/devfolio.svg"
                             alt="Devfolio"
                             title="Devfolio"/></a>
                </div>
            </div>
        </div>

        <div class="row sponsor-row">
            <div class="col-sm-12 ">
                <div class="sponsor-wrapper">
                    <a href="https://www.linode.com/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block platinum"
                             src="/images/sponsors/2020/linode.png"
                             alt="Linode"
                             title="Linode"/></a>
                </div>
            </div>
        </div>

        <div class="row sponsor-row">
            <div class="col-sm-12">
                <div class="sponsor-wrapper">
                    <a href="https://matic.network/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block gold"
                             src="/images/sponsors/2020/matic.png"
                             alt="Matic"
                             title="Matic"/></a>
                </div>
            </div>
        </div>

        <div class="row sponsor-row">

            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <a href="https://www.jetbrains.com/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block min-tier"
                             src="/images/sponsors/2020/jetbrains.png"
                             alt="JET BRAINS"
                             title="JET BRAINS"/></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <a href="https://www.wolframalpha.com/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block min-tier"
                             src="/images/sponsors/2020/wolfram.png"
                             alt="Wolfram Language "
                             title="Wolfram Language "/></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <a href="https://www.creative-tim.com/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block min-tier"
                             src="/images/sponsors/2020/creative-tim.png"
                             alt="Creative Tim"
                             title="Creative Tim"/></a>
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <a href="https://cloudsploit.com/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block min-tier"
                             src="/images/sponsors/2020/cloudsploit.png"
                             alt="CloudSploit"
                             title="CloudSploit"/></a>
                </div>
            </div>

        </div>
        <div class="row sponsor-row">
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <a href="https://codingblocks.com/" target="_blank" rel="noopener">
                        <img class="sponsor-img img-fluid mx-auto d-block min-tier"
                             src="/images/sponsors/2020/cb.png"
                             alt="CodingBlocks"
                             title="CodingBlocks"/></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faqs" class="section faqs">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Frequently Asked Questions</h3>
        </div>
        <div class="row m-auto">
            {{#each FAQs}}
                <div class="col-md-6 col-sm-12">
                    <div class="faq-item">
                        <div class="item-link faq-question">
                            <a data-toggle="collapse" href="#{{id}}">
                                <h5><i class="fas fa-chevron-down"></i> {{question}}</h5>
                            </a>
                        </div>
                        <div class="collapse accordion-block faq-answer" id="{{id}}">
                            <p>{{answer}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <br/><br/><br/>
        <div class="row text-center">
            <div class="col-12">
                <h3>Still curious?</h3>
                <div class="faq-contact">
                    <p>Use the chat option in the bottom-right corner</p>
                    <p>OR</p>
                    <p>Send an email to <a href="mailto:contact@hackonload.com"
                                           title="email us">contact@hackonload.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--venue section -->
<section class="section venue">
    <div class="container">
        <a href="https://goo.gl/maps/M2och8ac3qT2" target="_blank" rel="noopener">
            <div class="map-marker">
<!--                <i class="fas fa-map-marker-alt"></i>-->
                <img src="images/location.png" alt="location">
                <br/><br/>
                <p>VVCE, Mysuru</p>
                <br/><br/>
            </div>
        </a>
        <div class="row">
            <div class="col-12 text-center">
                <button id="devfolio-apply-now-bottom" class="devfolio-apply-now mx-auto">
                    <svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 115.46 123.46"
                         style="height:24px;width:24px;margin-right:8px">
                        <path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z"/>
                        <path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/>
                    </svg>
                    Apply with Devfolio
                </button>
            </div>
        </div>
    </div>
</section>
<!--venue section end-->
