<!--header start here -->
<!--suppress CssUnknownTarget -->
<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="/">
            <img src="images/onload.png" alt="OnLoad's logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link " href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#speakers">Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#sponsors">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#faq">FAQs</a>
                </li>
                <li>
                    <a class="nav-link" target="_blank" href="//blog.hackonload.com">
                        Blog <i class="fas fa-external-link-square-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider">
        <div class="cover_item" style="background: url('/images/hero.png');">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                A 30hrs intense, fun-filled, rewarding convergence of programmers, designers and
                                developers to build something amazing.
                            </h2>
                            <p class="cover-date">
                            </p>
                            <a href="#" class="btn btn-primary btn-rounded" id="apply-btn-top">
                                Applications Opens soon
                            </a>
                        </div>
                        <div class="row event-details">
                            <div class="col-12 col-md-6">
                                <a href="https://goo.gl/maps/M2och8ac3qT2" rel=noopener target=_blank title="See on Map"
                                   aria-label="Event Location">
                                    <i class="fas fa-map-marker-alt"></i> VVCE, Mysuru
                                </a>
                            </div>
                            <div class="col-12 col-md-6">
                                <p><i class="fas fa-calendar-day"></i> 28th Feb - 1st March, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cover section slider end -->

<!--about the event -->
<section id="about" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                About OnLoad
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eli. Integer iaculis in lacus a sollicitudin. Ut
                    hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat.
                    Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                </p>
            </div>
        </div>
        <!--event features-->
        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-mic"></i>
                    <div class="content">
                        <h4>36 hr</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-rocket"></i>
                    <div class="content">
                        <h4>Talks + Workshops</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-bullhorn"></i>
                    <div class="content">
                        <h4>Feature 3</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-clock"></i>
                    <div class="content">
                        <h4>Feature 4</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec graviante.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--event features end-->
    </div>
</section>
<!--about the event end -->

<section id="why-attend" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Why should I attend??</h3>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/learn.png" alt="To Learn" class="why-img-illus"/></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Learn</h3>
                    </div>
                    <div class="why-content">
                        Hackathons help you learn new skills. If you’re newer to programming,
                        you’ll learn how to create a project from scratch, buff out the problems, and present to a panel
                        of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team
                        collaboration and presentation skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/build.png" alt="To build" class="why-img-illus"/></div>
                    <div class="why-title">
                        <h3 class="themed-head">To Build</h3>
                    </div>
                    <div class="why-content">
                        How often did you start a small project and never finished it? You will need to cut the scope,
                        take some shortcuts. And you will still be amazed to see what you can finish in such a short
                        period of time. When receiving your award, you feel exhausted but truly satisfied. Like a true
                        marathon winner.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/network.png" alt="To Network" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">To Network</h3>
                    </div>
                    <div class="why-content">
                        Hackathons provide an excellent opportunity for you to build professional contacts and make new
                        friends. With over 300 developers and designers gathering from all over the country, grab your
                        chance of connecting with people to discuss ideas and opportunities.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/thrill.png" alt="The Thrill" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">
                            The Thrill
                        </h3>
                    </div>
                    <div class="why-content">
                        If you haven’t hacked a Hackathon you can’t know the feeling you have. The agitation before.
                        Will you be able to finish something? And the excitement afterward, when you are finished and
                        you have created something. A Hackathon is a challenge that comes with a lot of work, but also a
                        lot of fun and it can be an experience of a lifetime.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/flaunt.png" alt="Flaunt Skills" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">To Flaunt Your Skills</h3>
                    </div>
                    <div class="why-content">
                        Participating in hackathons will help you stand out from the competition and, show that you
                        truly are passionate about coding. Hackathon projects can also be great additions to your
                        portfolio. They can lead to great product creations, which make them a unique opportunity to get
                        in front of industry leaders to showcase your technical skills.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="why-box">
                    <div class="why-img"><img src="/images/illus/prize.png" alt="Win Prizes" class="why-img-illus"/>
                    </div>
                    <div class="why-title">
                        <h3 class="themed-head">To win Prizes and cool Schwags</h3>
                    </div>
                    <div class="why-content">
                        Not only will you have the chance to win some cool stuff, but you will also get a cool goodie
                        bag and loads of schwags. And food and drinks will also be for free. Overall it is an event full
                        of rewards.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--speaker section-->
<!--<section class="section">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                Speakers & Judges
            </h3>
        </div>
    </div>
    <div class="row justify-content-center no-gutters">
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Patricia Stone</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s2.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">James Oliver</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s3.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Carla Banks</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s4.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">William Smith</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s5.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Jessica Black</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s6.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Patricia Stone</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s7.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Duncan Stan</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s8.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Patricia Stone</h5>
                        <p class="position">CEO Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--speaker section end -->

<section id="schedule" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Schedule</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 list-group" id="schedule-tabs" role="tablist">
                <div class="btn-wrapper">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#day-1">28th Feb,
                        2020</a>
                </div>
                <div class="btn-wrapper">
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#day-2">29th Feb,
                        2020</a>
                </div>
                <div class="btn-wrapper">
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#day-3">01st Mar,
                        2020</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="tab-content p20">

                    <div class="tab-pane active" id="day-1" role="tabpanel">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Aaaaaaaa</li>
                            <li class="list-group-item">Bbbbbbbbbbbb</li>
                            <li class="list-group-item">Cccccc</li>
                            <li class="list-group-item">Ddddddddddd</li>
                            <li class="list-group-item">EEEEEE</li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="day-2" role="tabpanel">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">111</li>
                            <li class="list-group-item">222</li>
                            <li class="list-group-item">333</li>
                            <li class="list-group-item">444</li>
                            <li class="list-group-item">555</li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="day-3" role="tabpanel">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">qqqq</li>
                            <li class="list-group-item">wwww</li>
                            <li class="list-group-item">eee</li>
                            <li class="list-group-item">rrrr</li>
                            <li class="list-group-item">ttt</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sponsors" class="section sponsors">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Past Sponsors</h3>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <h4>Interested in becoming a sponsor? </h4>
                <p>Email us at <a href="mailto:sponsor@hackonload.com">sponsor@hackonload.com</a></p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/devfolio.svg" alt="Devfolio"
                         title="Devfolio"/>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/matic.png" alt="Matic"
                         title="Matic"/>
                </div>
            </div>
                <div class="col-sm-6 col-md-3">
                    <div class="sponsor-wrapper">
                        <img class="sponsor-img img-fluid" src="/images/sponsors/2019/codefactor.png" alt="CodeFactor"
                             title="CodeFactor"/>
                    </div>
                </div>

            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/github.png" alt="GitHub"
                         title="GitHub"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/wolfram.png" alt="Wolfram Language "
                         title="Wolfram Language "/>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/backbuckle.png" alt="BackBuckle"
                         title="BackBuckle"/>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/zend.png" alt="Zend"
                         title="Zend"/>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/creative-tim.png" alt="Creative Tim"
                         title="Creative Tim"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/sketch.svg" alt="Sketch"
                         title="Sketch"/>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/indorse.png" alt="indorse"
                         title="indorse"/>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/unity.png" alt="Unity"
                         title="Unity"/>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="sponsor-wrapper">
                    <img class="sponsor-img img-fluid" src="/images/sponsors/2019/zebronics.png" alt="ZEBRONICS"
                         title="ZEBRONICS"/>
                </div>
            </div>
        </div>
    
    </div>
</section>

<section id="faq" class="section faqs">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Frequently Asked Questions</h3>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-12 m-auto">
                <div class="faq-item">
                    <div class="item-link faq-question">
                        <a data-toggle="collapse" href="#faqOne">
                            <h4><i class="fas fa-chevron-down"></i> Who can participate?</h4>
                        </a>
                    </div>
                    <div class="collapse accordion-block faq-answer" id="faqOne">
                        <p>
                            All the students are welcome to apply, be it school or college. If you are under 18 years of
                            age, we’ll need a parental consent form. If you are not a student you can still be a part as
                            mentor, judge etc. If interested write to us at contact@hackonload.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 m-auto">
                <div class="faq-item">
                    <div class="item-link faq-question">
                        <a data-toggle="collapse" href="#faqTwo">
                            <h4><i class="fas fa-chevron-down"></i> How does the application process work?</h4>
                        </a>
                    </div>
                    <div class="collapse accordion-block faq-answer" id="faqTwo">
                        <p>
                            We’re looking for people who "do"! Folks who are passionate enough to work on crazy
                            world-changing ideas. Tell us what makes you apply to OnLoad, what excites you,
                            accomplishments you are proud of and whatever else you think can strengthen your chances of
                            acceptance. We’ll get to know more about your abilities from the past projects, GitHub
                            profile, participation/awards in other hackathons.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!--venue tickets section -->
<section class="section" >
    <div class="container">
        <div class="map-marker">
            <i class="fas fa-map-marker-alt"></i>
            <br/><br/>
            <p>VVCE, Mysuru</p>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-primary  btn-lg btn-rounded mt30">Applications Opens Soon</a>
            </div>
        </div>
    </div>
</section>
<!--venue section end-->
