<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{{ title }}}</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!--<link rel="stylesheet" href="/css/owl.carousel.min.css"/>-->
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/0b345f59f6.js" async crossorigin="anonymous"></script>
</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>
{{{ body }}}
<!--footer start -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-center">

            <div class="col-sm-12 col-md-4">
                <ul class="footer-links">
                    <li class="link-item">
                        <a href="https://devfolio.co/code-of-conduct" rel="nofollow" title="Code of Conduct">Code of
                            Conduct</a>
                    </li>
                    <li class="link-item">
                        <a href="/team" title="Our Team">Our Team</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="onload-img">
                    <img src="/images/onload-white.png" class="footer-logo img-fluid" alt="OnLoad's Logo">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="footer-social">

                    <li class="social-item" id="facebook">
                        <a href="https://www.facebook.com/hackOnLoad" target="_blank" rel="noopener" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="social-item" id="twitter">
                        <a href="https://twitter.com/hackOnLoad" target="_blank" rel="noopener" title="Twitter">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li class="social-item" id="instagram">
                        <a href="https://www.instagram.com/hackonload/" target="_blank" rel="noopener"
                           title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-item" id="linkedin">
                        <a href="https://www.linkedin.com/company/hackonload/" rel="noopener" title="LinkedIn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="social-item" id="youtube">
                        <a href="" target="_blank" rel="noopener" title="Youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="social-item" id="telegram">
                        <a href="https://t.me/HackOnLoad" rel="noopener" target="_blank" title="Telegram">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer end -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--<script src="/js/legacy/jquery.min.js"></script>-->
<!--<script src="/js/legacy/popper.js"></script>-->
<!--<script src="/js/legacy/bootstrap.min.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
        integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
<!--<script src="/js/waypoints.min.js"></script>-->
<!--slick carousel -->
<!--<script src="/js/owl.carousel.min.js"></script>-->
<!--parallax -->
<!--<script src="/js/parallax.min.js"></script>-->
<!--Counter up
<script src="/js/jquery.counterup.min.js"></script>
&lt;!&ndash;Counter down &ndash;&gt;
<script src="/js/jquery.countdown.min.js"></script>-->
<!-- WOW JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>
<!-- Custom js -->
<script src="/js/main.js"></script>
</body>
</html>
