<section id="ticket-confirm" class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 mx-auto d-block">
                <h1> Thank you booking tickets for Talks & Workshops.</h1>
                <p>Please follow our social pages to get updates. You can also join our Telegram group at
                    <a href="https://t.me/HackOnLoad" title="Telegram">https://t.me/HackOnLoad</a></p>
            </div>
        </div>
    </div>
</section>
