<section id="ticket" class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h1>Book your tickets for the talks & workshops happening at OnLoad 2.0</h1>
                <h5>NOTE: ACCEPTED HACKERS NEED NOT BUY TICKETS FOR THE TALKS.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <iframe class="mx-auto d-block" src="https://www.townscript.com/widget/onload-20-432304" frameborder="0"
                        height="600"
                        width="80%">
                </iframe>
            </div>
        </div>
    </div>
</section>
