<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Primary Meta Tags -->
    <title>{{title}}</title>
    <meta name="title" content="{{title}}"/>
    <meta name="description" content="{{meta_description}}"/>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/font-awesome/css/brands.min.css" rel="stylesheet">
    <link href="/font-awesome/css/solid.min.css" rel="stylesheet">


</head>
<body>

</body>
</html>
