/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Crossten ExtraBold';
    src: url('/assets/fonts/crossten_extrabold-webfont.woff2') format('woff2'),
    url('/assets/fonts/crossten_extrabold-webfont.woff') format('woff');
}

:root {
    --theme-color: #4b2662;
    /*--theme-color: #883eaa;*/
    --theme-white: #FFFFFF;
    --theme-color-dark: #331a43;
    --font-heading: "Crossten ExtraBold";
    --font-content: "Cabin";
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    font-family: var(--font-content), sans-serif;
    color: #838383;
    font-style: normal;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
    color: #18181c;
    line-height: 1.3;
}

section.section {
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 60px 40px
}

.themed-head {
    color: var(--theme-color);
}

h1, .h1 {
    font-size: 48px;
    margin-bottom: 25px;
}

h2, .h2 {
    font-size: 42px;
    margin-bottom: 25px;
}

h3, .h3 {
    font-size: 36px;
    margin-bottom: 25px;
}

h4, .h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

h5, .h5 {
    font-size: 18px;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 14px;
    margin-bottom: 10px;
}

p {
    font-size: medium;
    font-family: var(--font-content), sans-serif;
    margin: 0 0 15px;
    line-height: 24px;
    font-weight: 400;
    color: #2d2d2d;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: var(--font-content), sans-serif;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: var(--theme-color-dark);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.section_title {
    position: relative;
    margin-bottom: 25px;
}

.section_title .title {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 36px;
}

.section_title .title:before {
    width: 30px;
    content: " ";
    position: absolute;
    border-top: solid 4px var(--theme-color);
    left: 0;
    top: 0;
}

.bg-img {
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.bg-img .overlay_dark {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.brand_item {
    opacity: 0.3;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.brand_item img {
    display: block;
    max-width: 130px;
    margin: 0 auto;
}

.brand_item:hover {
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.icon_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-muted {
    color: #868e96 !important;
    font-size: 14px;
    line-height: 2.1;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

img {
    max-width: 100%;
}


/* ----------------Responsive Align ------------------- */
@media all and (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }

    .text-left-xs {
        text-align: left;
    }

    .text-right-xs {
        text-align: right;
    }
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    z-index: 999999;
}

.loader .loader-inner {
    position: absolute;
    border: 3px solid var(--theme-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

header {
    min-height: 50px;
    padding: 0;
    margin: 0 0 0 0;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    background-color: #ffffff;
}

header .menu {
    position: relative;
}

header .logo {
    padding-top: 0;
    padding-bottom: 0;
}

header .logo img {
    float: left;
    max-width: 160px;
    margin-right: 3px;
}

header ul.menu li a.nav-link {
    padding: 20px 12px !important;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    color: #000000;
}

header ul.menu li a.nav-link:hover {
    color: var(--theme-color-dark);
}

header ul.menu .search_btn {
    padding: 16px 8px !important;
    color: #ffffff;
}

header li ul {
    display: none;
    visibility: hidden;
}

header li ul.sub_menu {
    position: absolute;
    background: #333333;
    min-width: 250px;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 42px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 42px rgba(0, 0, 0, 0.08);
}

header li ul.sub_menu li {
    display: block;
}

header li ul.sub_menu li a {
    color: #999999 !important;
    padding: 7px 10px;
    display: block;
    margin-left: 0;
    line-height: 22px;
    word-break: break-word;
}

header li ul.sub_menu li a:hover {
    color: #ffffff !important;
    transform: translate3d(2px, 0, 0);
    -webkit-transform: translate3d(2px, 0, 0);
}

.navbar {
    padding: 0;
}

header.sticky_header {
    background-color: #ffffff;
    margin: 0;
    padding: 5px;
    -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    color: #000000;
}

.navbar-toggler {
    border: 1px solid #ffffff;
    color: #000000;
    padding: 5px 10px;
    font-size: 22px;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
    cursor: pointer;
    border-radius: 2px;
}

@media (min-width: 767px) {
    header li:hover > ul {
        display: block;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    header {
        background-color: #ffffff;
        color: #000000;
        margin: 0;
        -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
        box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
        -webkit-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }

    header .container {
        padding: 15px !important;
    }

    header li > ul {
        position: static;
        visibility: visible;
        width: 100%;
    }
}

footer {
    background-color: var(--theme-color-dark);
    padding: 15px;
}

.btn {
    font-size: 12px;
    line-height: 1.7;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 12px 40px;
    border-radius: 0;
    outline: 0 !important;
    border: none;
    cursor: pointer;
    background-color: #18181c;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    color: var(--theme-color-dark);
    background-color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn:focus {
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-sm {
    padding: 10px 20px;
}

.btn-lg {
    padding: 18px 50px;
}

.btn_center {
    margin: 0 auto;
    display: block;
}

.btn.btn-shadow {
    -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
}

.btn.btn-shadow:hover {
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.btn-rounded {
    border-radius: 50px;
}

.btn-primary {
    background-color: var(--theme-color);
    border: solid 1px var(--theme-color);
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--theme-color-dark) !important;
    color: #ffffff !important;
    border: solid 1px var(--theme-color-dark) !important;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-primary-outline {
    background-color: transparent;
    border: solid 1px var(--theme-color);
    color: var(--theme-color);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-primary-outline:hover {
    background-color: var(--theme-color-dark);
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-light {
    background-color: #ffffff;
    border: solid 1px #ffffff;
    color: #18181c;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-light:hover {
    color: #ffffff;
    border: solid 1px #18181c;
    background-color: #18181c;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-dark {
    background-color: #333333;
    border: solid 1px #18181c;
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-dark:hover {
    color: #18181c;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/*noinspection CssUnknownTarget*/
.home-cover {
    position: relative;
    background-size: contain;
    background: url('/images/hero.png') no-repeat center center;
}

@media (max-width: 767px) {
    .home-cover {
        background-size: cover;
    }
}

.cover_slider {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
    list-style: none;
}

.cover_slider .slider-content-center {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cover_slider .cover_item {
    width: 100%;
    position: relative;
    min-height: 600px;
    padding: 150px 0;
}

@media (max-width: 767px) {
    .cover_slider .cover_item {
        min-height: 800px;
    }
}

.cover_slider .cover_item .slider_content {
    /*display: table;*/
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    color: #ffffff;
}

.cover_slider .cover_item .slider_content .slider-content-inner .cover-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
}

h2.cover-title {
    font-size: 40px;
}

.cover_slider .cover_item .slider_content .slider-content-inner .cover-event-data {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.cover_slider .cover_item .slider_content .slider-content-inner .cover-event-data .cover-date {
    color: #ffffff;
    font-size: 20px;
    /*font-weight: bolder;*/
    font-family: var(--font-content);
}

.cover_slider .cover_item .slider_content .slider-content-inner .cover-event-data .cover-venue a {
    color: white;
    font-size: 20px;
    font-family: var(--font-content);
}

.cover_slider .cover_item .slider_content .slider-content-inner .cover-event-data .cover-venue a:hover {
    color: var(--theme-color-dark);
}


.inner_cover {
    min-height: 500px;
    position: relative;
    background-position: center center;
    background-size: cover;
}

.inner_cover .overlay_dark {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 31, 32, 0.6);
}

.inner_cover .inner_cover_content {
    padding: 170px 0;
}

.inner_cover .inner_cover_content h3 {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
}

.icon_box_one {
    background-color: #f0f2f6;
    padding: 0;
    margin: 25px 0;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    min-height: 200px;
}

.icon_box_one i {
    margin-top: -10px;
    padding: 0 15px;
    font-size: 72px;
    color: var(--theme-color);
    vertical-align: middle;
    border-radius: 4px;
    display: block;
    margin-bottom: 15px;
    line-height: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon_box_one .content {
    margin-top: 0;
    padding: 10px 25px 25px;
}

.icon_box_one .content h4 {
    color: #18181c;
    margin-bottom: 15px;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon_box_one .content p {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size: medium;
}

.icon_box_one:hover {
    -webkit-box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
    background-color: var(--theme-color);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon_box_one:hover i {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon_box_one:hover .content h4 {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon_box_one:hover .content p {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon_box_one:hover .content a {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-apply {
    background-color: var(--theme-white);
    color: #000000;
    border: solid 2px var(--theme-color-dark);
}

.why-box {
    padding: 20px;
    min-height: 200px;
}

.why-content {
    color: #000000;
    font-size: large;
}

.why-img-illus {
    padding-top: 10px;
    padding-bottom: 10px;

}

.map-marker {
    font-size: 100px;
    color: var(--theme-color);
    text-align: center;
}

.map-marker p {
    font-size: xx-large;
    color: var(--theme-color);
    text-align: center;
}

.event-details {
    padding: 25px;
    text-align: center;
    /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
}

.event-details a, .event-details p {
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    color: #e4e4e4;
    font-family: var(--font-heading), sans-serif;
}

.event-details a:hover {
    color: var(--theme-color-dark);
}

.btn-wrapper {
    padding: 5px;
}

.list-group-item-action {
    font-weight: bolder;
    /*background-color: var(--theme-color);*/
}

.list-group-item-action.active {
    background-color: var(--theme-color);
    border: var(--theme-color);
}

@media (min-width: 767px) {
    .list-group-item-action.active::after {
        content: ' ';
        border-bottom: 12px solid transparent;
        border-left: 12px solid var(--theme-color);
        border-right: 12px solid transparent;
        /*border-top: 12px solid transparent;*/
        height: 0;
        left: 100%;
        margin-left: 0;
        position: absolute;
        top: 15px;
        width: 0;
    }
}

a.list-group-item-action:hover {
    background-color: var(--theme-color);
    color: white;
}

.faq-item {
    padding: 10px;
}

.faq-answer p {
    font-size: medium;
    color: #000000;
}

.faq-contact p, .faq-contact a {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-heading);
}

.footer-links {
    list-style-type: none;
}

.link-item a {
    color: white;
    font-size: medium;
    padding: 10px;
}

.link-item a:hover {
    color: #b9b9b9;
    text-decoration: underline;
}

.footer-logo {
    width: 10vh;
    height: auto;
}

.footer-social {
    justify-content: center;
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 20px;
}

.footer-links {
    padding: 0;
}

.footer-social li {
    float: left;
    padding: 10px;
}

.social-item a {
    font-size: 4vh;
    color: white;
}

@media (max-width: 767px) {
    ul.footer-social {
        margin-bottom: 30px;
    }
}


#facebook a:hover {
    color: #3b5998;
}

#twitter a:hover {
    color: #00acee;
}

#instagram a:hover {
    color: #fb3958;
}

#linkedin a:hover {
    color: #0077B5;
}

#youtube a:hover {
    color: #cd201f;
}

#slack a:hover {
    color: #3aaf85;
}

#telegram a:hover {
    color: #0088CC;
}

.schedule-item {
    margin: 10px;
}

.sponsor-wrapper {
    padding: 20px;
}
