body {
    background-color: var(--theme-color-dark);
    text-align: center;
    color: var(--theme-white);
}

.timer-logo {
    width: 500px;
    height: auto;
}

.timer-screen {
    color: var(--theme-white);
}

#timer-title {
    color: var(--theme-white);
    font-family: var(--font-heading);
    font-size: 70px;
}

#countdown {
    font-size: 130px;
    color: var(--theme-white);
}

.mascot-canvas {
    padding: 0;
}
